/* COMMON */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #b91350;
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: #fff;
    font-size: 30px;
    margin: 20px 0px;
}

a{
    color: #ff00;
}

/* GENERATORE BIGLIETTO */
.info_container{
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.info_container .info_row{
    display: flex;
    justify-content: space-evenly;
}

.info_container .info_row .info_col{
    display: flex;
    flex-direction: column;
}

.info_col label{
    color: #b91350;
    margin-bottom: 20px;
}

.info_col input,
.info_col select{
    height: 30px;
    text-align: center;
    border: solid 2px #b91350;
    border-radius: 5px;
}

.info_container .info_row.centra{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.btn{
    margin: 0px 10px;
    background-color: lightgray;
    color: #b91350;
    font-weight: bold;
    border: 1px solid gray;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid orange;
}


/* DETTAGLI BIGLIETTO */
#detail_container_passanger {
    width: 80%;
    margin: auto;
    padding: 30px;
    background-color: #fff;
}
  
.detail_container {
    display: flex;
    justify-content: center;
}

.title{
    padding: 5px 0px;
    text-align: left;
}

.detail_container .detail_name {
    background-color: grey;
    height: 100px;
    padding: 10px;
}

#passanger_name{
    font-weight: bold;
    text-align: left;
    font-size: 14px;
}

.detail_container .detail_info {
    height: 100px;
    padding: 10px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    flex-grow: 1;
}
  
.detail_container .detail_info table tr td {
    padding: 30px 0;
}
  
.detail_container .detail_info table tr th {
    padding: 0 30px;
}
  
.detail_container .detail_info table tr #final_price {
    font-weight: bold;
}


/* SHOW - HIDDEN */
.hidden{
    opacity: 0;
}

.show{
    opacity: 1;
}